<lint-module
    format="1"
    dir="/Users/user/Documents/Project/aptm-mobile/android/app"
    name=":app"
    type="APP"
    maven="android:app:"
    gradle="7.2.0"
    buildFolder="/Users/user/Documents/Project/aptm-mobile/build/app"
    bootClassPath="/Users/user/Library/Android/sdk/platforms/android-33/android.jar:/Users/user/Library/Android/sdk/build-tools/30.0.3/core-lambda-stubs.jar"
    javaSourceLevel="1.8"
    compileTarget="android-33">
  <lintOptions
      abortOnError="true"
      absolutePaths="true"
      checkReleaseBuilds="true"
      explainIssues="true"/>
  <variant name="release"/>
</lint-module>
